<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
<div class="navbar-header">
    <a class="navbar-brand" href="/admin">Admin Panel</a>
</div>
<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul id="active" class="nav navbar-nav side-nav">
        <li><a href="/admin"><i class="fa fa-bullseye"></i>About Me</a></li>
        <li><a href="/admin/my_skills"><i class="fa fa-tasks"></i>My skills</a></li>
        <li><a href="/admin/all_skills"><i class="fa fa-tasks"></i>All skills</a></li>
        <li><a href="/admin/experience"><i class="fa fa-list-ol"></i>Experience</a></li>
        <li><a href="/admin/projects"><i class="fa fa-globe"></i>Projects</a></li>
        <li><a href="/admin/education"><i class="fa fa-edit"></i>Education</a></li>
        <li><a href="/admin/ignored_ips"><i class="fa fa-edit"></i>Ignored Ips</a></li>
        <li><a href="/admin/users"><i class="fa fa-edit"></i>Users</a></li>
    </ul>

</div>
</nav>
