<section id="footer">
    <div class="container">
        	<footer>
		<ul class="icons">
			<li><a href="{{ me['facebook_link'] }}" class="icon fa-facebook"><span class="label">Facebook</span></a></li>
			<li><a href="{{ me['linkedin_link'] }}" class="icon fa-linkedin"><span class="label">Linkedin</span></a></li>
			<li><a href="{{ me['bitbucket_link'] }}" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
			<li><a href="{{ me['github_link'] }}" class="icon fa-github"><span class="label">Github</span></a></li>
			<li><a href="#contact_me" class="icon fa-envelope"><span class="label">Email</span></a></li>
            <li></li>
            <li>Skype: {{ me['skype'] }}</li>
            <li> | </li>
            <li>Phone: {{ me['phone'] }}</li>
		</ul>
	</footer>
    </div>
</section>
