	<head>
		<title>Viktor Kobryn</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]>
		<script src="../static/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="{{ static_url('css/main.css')}}" />
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="../static/css/ie8.css"/><![endif]-->
        <script src="{{ static_url('sweet_alert/sweetalert.min.js') }}"></script>
        <link rel="stylesheet" type="text/css" href="{{ static_url('sweet_alert/sweetalert.css') }}">
	</head>
